.backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  inset: 0 0 0 0;
  backdrop-filter: blur(4px);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
