.footer {
  height: 20rem;
  background-color: var(--color-primary);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.social {
  display: flex;
  flex-direction: row;
  margin-top: auto;
}
.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: unset;
  margin: 0.5rem;
  width: 2rem;
  height: 2rem;
}
.social a svg {
  color: white;
  width: 100%;
  font-size: 1.5em;
}

.social a:hover {
  transform: translateY(-0.25rem);
}

.footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.footer a {
  color: white;
}

.rights {
  color: white;
  padding-block: 0.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  display: flex;
  justify-content: center;
}
